:root {
    --black: #000000;
    --white: #ffffff;
    --primary-blue: #003762;
    --light-blue: #d4dee9;
    --dark-blue: #1e2b39;
    --pastel-yellow: #eee1ca;
    --euna-yellow: #ffd698;
  }

  @font-face {
    font-family: 'Madera';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('./basic-website/fonts/fonnts.com-Madera_Regular.ttf') format('truetype');
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Madera', sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0rem calc((100vw - 1300px) / 2);
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    z-index: 1000; 
    height: 80px; 
  }
  
  .jason {
    width: 32px;
    height: 32px;
    background: url('./cat_front_walk.png') 0 0 no-repeat;
    margin: 1rem;
    animation: run 0.8s steps(4) infinite;
  }
  
  @keyframes run {
    100% {
      background-position: -128px 0;
    }
  }
  
  .logo {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 1000;
    font-style: italic;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  
  .logo:hover {
    color: var(--primary-blue);
  }
  
  nav a {
    position: relative;
    font-weight: 690;
    font-size: 1rem;
    text-decoration: none;
    background: var(--white);
    color: #000;
    margin-left: 40px;
  }
  
  nav a:hover {
    color: var(--primary-blue);
  }
  
  nav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--primary-blue);
    color: var(--primary-blue);
    transition: .3s;
  }
  
  nav a:hover::before {
    width: 100%;
    color: var(--primary-blue);
  }
  
  
  body {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    align-items: center;
  }

  .subtext {
    font-size: 14px;
  }
  .full{
    margin-top: 80px;

  }

  .link {
    text-decoration: none;
    color: var(--primary-blue);
  }
  section {
    display: flex;
    justify-content: center;
    width:100%;
    text-align:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.image-container {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
}


.responsive-img {
    height: 450px;
    width: auto; 
    max-width: 100%; 
}

.responsive-emote{
    height: 200px;
    width: auto; 
    max-width: 100%; 
}

.responsive-logo{
    height: 300px;
    width: auto; 
    max-width: 100%; 
}