:root {
  --black: #000000;
  --white: #ffffff;
  --primary-blue: #003762;
  --light-blue: #d4dee9;
  --dark-blue: #1e2b39;
  --pastel-yellow: #eee1ca;
}

@font-face {
  font-family: 'Madera';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./basic-website/fonts/fonnts.com-Madera_Regular.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Madera', sans-serif;
}
  
  body {
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .subtext {
    color: var(--black);
    font-size: 14px;
  }
  .full{
    margin-top: 80px;

  }

  .link {
    text-decoration: none;
    color: var(--primary-blue);
  }
  section {
    display: flex;
    justify-content: center;
    width:100%;
    text-align:center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.image-container {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; 
}


.responsive-img {
    height: 450px;
    width: auto; 
    max-width: 100%; 
}

.responsive-emote{
    height: 200px;
    width: auto; 
    max-width: 100%; 
}

.responsive-logo{
    height: 300px;
    width: auto; 
    max-width: 100%; 
}

.story-container {
  width:450px;
  margin: auto;
  /* border:5px solid var(--primary-blue); */

  overflow: hidden;
  position: relative;
}

.story-slide {
  display: flex;
  width: 100%;
  transition: transform 0.7s ease-in-out;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px 0;
  color: var(--white);
  outline: none;
  background: var(--primary-blue);
  border: 1px solid var(--pastel-yellow);
  width: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


